/* Responsive layout */
@media screen and (max-width: 1400px) {
  .hero-text {
    margin-top: 30%;
  }
  .menus {
    gap: 50px;
    padding: 40px;
  }
  main {
    border: none;
  }
}

@media screen and (max-width: 800px) {
  .hero-text {
    width: 100%;
    margin-top: 30%;
  }
  .menus {
    gap: 50px;
    padding: 25px;
  }
  .item-list {
    grid-template-columns: 1fr 1fr;
    margin: 20px 20px;
  }
  .image-list {
    height: 100%;
  }
  .menus-list {
    width: 90%;
    max-width: 250px;
    justify-content: center;
    align-items: center;
  }

  #main {
    padding: 20px;
  }
  .detail {
    border: none;
  }
  .detail_image,
  .detail_info {
    position: relative;
    z-index: -1;
  }
}

@media screen and (max-width: 650px) {
  #toogle {
    display: flex;
    font-size: 20px;
    text-decoration: none;
    color: white;
    justify-content: center;
    width: 44px;
    height: 44px;
    top: 30px;
  }

  .nav-menu ul {
    flex-direction: column;
    width: 80%;
    height: 100%;
    min-height: 290px;
    padding: 20px 0;
    justify-content: space-between;
    margin-top: 390px;
    position: absolute;
    justify-content: center;
    align-items: center;
    transform: translate(-999px, 0);
    transition: transform 0.3s ease-in-out;
    background-color: rgba(34, 40, 49, 0.95);
  }

  .nav-menu ul li a {
    text-align: center;
    display: flex;
    border: none;
    padding: 14px 120px;
    margin: 30px 0;
    border-radius: none;
  }

  #menu.toogle-open {
    transform: translate(-60px, 0);
  }
  /* navigation end */

  .hero .hero-image {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../public/images/hero-image_1-600.jpg');
    background-position: center;
    width: 100%;
  }
  .hero-text {
    font-size: 100%;
  }

  .hero-list {
    margin-top: 50%;
  }

  .hero-button button {
    padding: 20px;
    width: 50%;
  }
  .item-list {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
  }

  .image-list {
    height: 95%;
  }

  .grid-menu {
    padding: 0;
  }

  /* detail */

  .detail {
    width: 100%;
    max-width: fit-content;
    padding: 10px;
  }

  .detail_grid {
    grid-template-columns: 1fr;
    width: 95%;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .detail_image {
    width: 100%;
  }

  .detail_menu {
    width: 95%;
    margin: 0 10px;
  }

  .menus {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: auto;
    padding: 5% 25%;
  }

  .menus-list {
    width: 100%;
  }

  .customer-review {
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 0 17%;
  }
}
